#results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .media {
        width: 50%;
        margin: 10px 0;
        text-align: center;

        img {
            width: 100%;
        }
    }
}