header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    // background-color: $dark;
    
    #logo, #menu, #edit {
        flex: 1;
        margin: 20px;

        img { height: 100%;}
    }

    #menu {
        text-align: right;
    }

    #edit {
        text-align: right;
    }
}

@media screen and (min-width : 768px) {
    header {
        height: 100px;
        
        #logo, #menu {
            flex: 1;
            margin: 30px 50px;
    
            img { height: 100%;}
        }
    
        // #menu {
        //     text-align: right;
        // }
    }
}

@media screen and (min-width : 1024px) {
    header {
        height: 100px;

        #logo, #menu {
            flex: 1;
            margin: 30px;
    
            img { height: 100%;}
        }
    
        // #menu {
        //     text-align: right;
        // }
    }
}
