#select-bg{
    width: 100vw;
    height: 100vh;
    background-color: $dark;

    .watching-wrap {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .watching {
            width: 100%;
            margin: 0 auto;

            h2 {
                text-align: center;
                color: $white;
                font-size: 16px;
            }
        }
    }
}

// .getUser inside of .watching
.userList {
    display: flex;
    flex-flow: row wrap;
    padding: 40px 0 0;
    justify-content: space-between;

    .getUser {
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 20px;

        .imageWrap {
            height: 90px;
            width: 90px;
            overflow: hidden;
            display: block;
            text-align: center;
            border-radius: 45px;
            transition: all 0.2s ease;

            img {
                height: 120%;
                width: auto;
            }

            img:hover{
                cursor: pointer;
            }
        }

        .imageWrap:hover {
            transform: scale(1.05);
        }
       
        p {
            color: $white;
            padding-top: 10px;
            font-size: 12px;
            text-transform: capitalize;
        }
    }
}

@media screen and (min-width : 768px) {
    #select-bg{
    
        .watching-wrap {
            width: 100%;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .watching {
                width: 100%;
                margin: 0 auto;
    
                h2 {
                    text-align: center;
                    color: $white;
                    font-size: 24px;
                }
            }
        }
    }
    
    // .getUser inside of .watching
    .userList {
        width: 60%;
        margin: 0 auto;
    
        .getUser {
            margin-bottom: 40px;
    
            .imageWrap {
                height: 120px;
                width: 120px;
                border-radius: 60px;
            }
           
            p { font-size: 20px; }
        }
    }
}

@media screen and (min-width : 1024px) {
    #select-bg{
    
        .watching-wrap .watching {

            h2 {
                text-align: center;
                color: $white;
                font-size: 24px;
            }
            
        }
    }
    
    // .getUser inside of .watching
    .userList {
        width: 50%;
        margin: 0 auto;
    
        .getUser {
            margin-bottom: 40px;
    
            .imageWrap {
                height: 120px;
                width: 120px;
                border-radius: 60px;
            }
           
            p { font-size: 20px; }
        }
    }
}