$white: #F8F8F8; 
$dark: #343434; 
$main: #FFB900;

$cream: #F8F8F8; // website bg
$orange:  #FFBD4D; // website bg 2
$yellow: #FFCD2C; // children theme
$red: #FF6060; // children theme
$blue: #3AA9FF; // children theme
$green: #0BCE65; // border turns green when user is selected
$font:'Playfair Display', serif;